body {
  margin: 0;
}

/* HEADER */
#header-blue {
  background-color: #054FF0;
  border-radius: 0 0 126px 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  max-width: 1400px;
}

#header-img-yap {
  height: 320%;
  width: auto;
  rotate: -5deg;
  margin-top: 170px;
}
