body {
  margin: 0;
  background-color: #F9F8F3;
}

/* HEADER */
#header-blue {
  background-color: #054FF0;
  border-radius: 0 0 126px 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  max-width: 1400px;
}

#header-img-yap {
  height: 320%;
  width: auto;
  rotate: -5deg;
  margin-top: 180px;
}

@media (max-width: 767px) {
  #header-img-yap {
    height: 280%;
    margin-top: 180px;
  }
}

@media screen and (max-width: 600px) {
  #header-img-yap {
    height: 180%;
    margin-top: 180px;
  }
}

/* FOOTER */
#footer-blue {
  background-color: #054FF0;
  border-radius: 126px 126px 0 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-text {
  color: #F9F8F3;
  font-size: 20px;
  margin: 0;
}

#footer-text a {
  color: #F9F8F3;
  text-decoration: none;
}

@media (max-width: 767px) {
  #footer-blue {
    width: 95%;
    height: 90px;
  }
  #footer-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  #footer-blue {
    width: 95%;
    height: 80px;
  }
  #footer-text {
    font-size: 12px;
  }
}

/* INDEX */
#index-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#yap-form {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
